@import "normalize.css";
@import "components/preloader/preloader.css";
@import "components/prelude/prelude.css";
@import "components/clan/style.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
@font-face {
	font-family: "Allgidus3Dxtr";
	src: url(./font/Allgidus3Dxtr.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: "Bemount";
	src: url(./font/Bemount.otf) format("OpenType");
    font-weight: normal;
    font-style: normal;
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 60px;
}
main {
    height: calc(100% - 60px);
}
.wrapper {
    wrapper: "";
    height: 100%;
    @media(max-width: 960px) {
        padding-right: 30px;
    }
}
.active-prelude {
    overflow: hidden;
}
.content {
    background-image: url("./img/fon.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
    height: 100%;
}
.settings {
    position: relative;
    margin-left: auto;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url(./img/gtkabout.png);
    background-repeat: no-repeat;
    background-size: contain;
    &_form {
        display: none;
    }
}


.application-form {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;

    & form {
        margin: auto;
        width: 90%;
        background-color: #ccc;
    }
}

