header.alliance
    h1.alliance_title 
        | Добро пожаловать в Альянс
        |
        span.alliance_name Freedom
    .settings
        form.settings_form(action="#"  method="post")
            label(for="foreplay") Показывать заставку?
                input(id="foreplay" type="checkbox" name="foreplay" checked)
    