- let clanNames = ['Destiny', 'Clan-name1', 'Clan-name2']; 

each clanName in clanNames
    article(class="clan")
        h2(class="clan_name"  tabindex="0")= clanName
        section(class="clan_info visually-hidden")
            button.clan_close X
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet repudiandae quaerat reiciendis dolorum veritatis similique molestias voluptates ad sequi, temporibus voluptate, sit ducimus tempora ea animi repellendus libero rerum repellat.
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus architecto debitis in sequi necessitatibus maxime aliquid officiis quod accusamus exercitationem tempora atque hic, soluta omnis? Soluta laboriosam non illum explicabo.
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus architecto debitis in sequi necessitatibus maxime aliquid officiis quod accusamus exercitationem tempora atque hic, soluta omnis? Soluta laboriosam non illum explicabo.
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus architecto debitis in sequi necessitatibus maxime aliquid officiis quod accusamus exercitationem tempora atque hic, soluta omnis? Soluta laboriosam non illum explicabo.
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus architecto debitis in sequi necessitatibus maxime aliquid officiis quod accusamus exercitationem tempora atque hic, soluta omnis? Soluta laboriosam non illum explicabo.
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus architecto debitis in sequi necessitatibus maxime aliquid officiis quod accusamus exercitationem tempora atque hic, soluta omnis? Soluta laboriosam non illum explicabo.
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus architecto debitis in sequi necessitatibus maxime aliquid officiis quod accusamus exercitationem tempora atque hic, soluta omnis? Soluta laboriosam non illum explicabo.
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus architecto debitis in sequi necessitatibus maxime aliquid officiis quod accusamus exercitationem tempora atque hic, soluta omnis? Soluta laboriosam non illum explicabo.
            button(class="clan_apply" name=clanName) Подать заявку