
.clans
    .clans_wrap
        - if(clans.length > 1) {
            each clan in clans
                article(class="clan")
                    h2(class="clan_name"  tabindex="0")= clan
                    section(class="clan_info visually-hidden")
                        div.clan_info_wrap
                            button.clan_info_close X
                            h4.clan_info_title #{clan}
                            div.clan_info_scroll
                                div.clan_info_text
                                    // text
                                    div.inner
                                        - let i = 0;
                                        - let n = clan === 'Destiny' ? 5 : 25;
                                        - while(i < n) {
                                            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet repudiandae quaerat reiciendis dolorum veritatis similique molestias voluptates ad sequi, temporibus voluptate, sit ducimus tempora ea animi repellendus libero rerum repellat.
                                            - i++;
                                        -}
                                    // end text
                                    button(class="clan_apply" name=clan) Подать заявку
        -} else {
            article.clan
        -}
